
# Ignore all files or folders that start with pyc
*.pyc
.idea

# Ignore pycache folders
backend/*__pycache__*
#  Ignore all files that start with a dot . but .gitignore
!/.gitignore
# Ignore log files
backend/file_*.log

# Ignore backend pycach
backend/*/__pycache__

*node_modules*
*yarn-error.log
*.env